.footer{
    margin: 100px 200px 20px 200px;
    .top{
        display: flex;
        gap:50px;
        .item{
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: justify;
            gap: 10px;
        }

    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right{
            img{
                height: 100px;
            }
        }
       
        
        .left{
            display: flex;
            gap: 10px;
            .logo{
                color:blue;
                letter-spacing: 3px;
            }

        }
    }
}