.products{
    display: flex;
    padding: 30px 50px;
    .left{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;
        .filteritem{
            margin-bottom: 30px;
            h2{
                margin-bottom: 20px;
            }
            .inputitem{
                margin-bottom: 10px;
                label{
                    margin-left: 10px;
                }
            }
        }
    }
    .right{
        flex: 3;
        .catimg{
            height: 300px;
            width: 100%;
            object-fit:cover ;
            margin-bottom: 50px;
        }
    }

}